[submodule "themes/pickles"]
	path = themes/pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
[submodule "public"]
	path = public
	url = https://github.com/yonimelman/yonimelman.github.io.git
